.toggleButton {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggleButton:hover {
  opacity: 0.8;
}
